<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tfit.BdBiProcSrvYgwcSchOmc.dao.mapper.edubd.TEduBdNoticeStatusDoMapper"> 
 
  <insert id="insertMsgNoticeStatus" parameterType="com.tfit.BdBiProcSrvYgwcSchOmc.dao.domain.edubd.TEduBdNoticeStatusDo">
    insert into
    t_edu_bd_notice_status(create_time, bulletin_id, owner_user_name, rcv_user_name, read_count, last_update_time, stat)
    values(#{createTime}, #{bulletinId}, #{ownerUserName}, #{rcvUserName}, #{readCount}, #{lastUpdateTime}, #{stat})
  </insert>
  
  <select id="getMsgNoticeStatusByRcvUserName" resultType="com.tfit.BdBiProcSrvYgwcSchOmc.dao.domain.edubd.TEduBdNoticeStatusDo">
    select id, create_time createTime, bulletin_id bulletinId, owner_user_name ownerUserName, rcv_user_name rcvUserName, read_count readCount, last_update_time lastUpdateTime
    from t_edu_bd_notice_status
    where stat = 1 and rcv_user_name = #{rcvUserName}
  </select>
  
  <select id="getMsgNoticeStatusBySendUserName" resultType="com.tfit.BdBiProcSrvYgwcSchOmc.dao.domain.edubd.TEduBdNoticeStatusDo">
    select id, create_time createTime, bulletin_id bulletinId, owner_user_name ownerUserName, rcv_user_name rcvUserName, read_count readCount, last_update_time lastUpdateTime
    from t_edu_bd_notice_status
    where stat = 1 and owner_user_name = #{sendUserName}
  </select>
  
  <select id="getMsgNoticeStatusBybIdSendUser" resultType="com.tfit.BdBiProcSrvYgwcSchOmc.dao.domain.edubd.TEduBdNoticeStatusDo">
    select id, create_time createTime, bulletin_id bulletinId, owner_user_name ownerUserName, rcv_user_name rcvUserName, read_count readCount, last_update_time lastUpdateTime
    from t_edu_bd_notice_status
    where stat = 1 and bulletin_id = #{bulletinId} and owner_user_name = #{sendUserName}
  </select>  
  
  <select id="getMsgNoticeStatusBybIdRcvUserName" resultType="com.tfit.BdBiProcSrvYgwcSchOmc.dao.domain.edubd.TEduBdNoticeStatusDo">
    select id, create_time createTime, bulletin_id bulletinId, owner_user_name ownerUserName, rcv_user_name rcvUserName, read_count readCount, last_update_time lastUpdateTime
    from t_edu_bd_notice_status
    where stat = 1 and bulletin_id = #{bulletinId} and rcv_user_name = #{rcvUserName}
  </select>
  
  <update id="updateReadCountInMsgNotice">
    update t_edu_bd_notice_status
    set read_count = #{readCount}
    where stat = 1 and bulletin_id = #{bulletinId} and rcv_user_name = #{rcvUserName}
  </update>
  
</mapper>