<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tfit.BdBiProcSrvYgwcSchOmc.dao.mapper.TEduMenuGroupDoMapper">
  
  <select id="getAllMenuGroupIdName" resultType="com.tfit.BdBiProcSrvYgwcSchOmc.dao.domain.TEduMenuGroupDo">
    select distinct menu_group_name, menu_group_name menuGroupName
    from t_edu_menu_group
    where stat = 1
    order by id asc
  </select>
  
</mapper>