<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tfit.BdBiProcSrvYgwcSchOmc.dao.mapper.TProDishesDoMapper">
  
  <select id="getAllDishNames" resultType="com.tfit.BdBiProcSrvYgwcSchOmc.dao.domain.TProDishesDo">
    select distinct name
    from t_pro_dishes
    where stat = 1
    order by id asc
  </select>
  
</mapper>