<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tfit.BdBiProcSrvYgwcSchOmc.dao.mapper.TProRecyclerSupplierDoMapper">
  
  <select id="getAllRecyclerIdName" resultType="com.tfit.BdBiProcSrvYgwcSchOmc.dao.domain.TProRecyclerSupplierDo">
    select distinct id, supplier_name supplierName
    from t_pro_recycler_supplier
    where stat = 1
  </select>
  
  <select id="getAllRecPersonName" resultType="com.tfit.BdBiProcSrvYgwcSchOmc.dao.domain.TProRecyclerSupplierDo">
    select distinct contacts
    from t_pro_recycler_supplier
    where stat = 1
  </select>
  
</mapper>